/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  width: 50%;
  min-width: 800px;
}

td,
th {
  text-align: start;
  padding: 0.8rem 1rem;
}

button[type="button"] {
  font-size: inherit;
  padding: 0.4rem 0.8rem;
}

/* ### UTILITY CLASS ### */

.numerical {
  text-align: end;
}

/* ### GENERAL STYLING ### */

body {
  font-family: sans-serif;
}

table {
  background-color: #f5f7fd;
  margin-inline: auto;
  border-radius: 0.8rem;
  border: 1px solid #dae1f8;
}

th {
  border-bottom: 2px solid #dae1f8;
}

td {
  border-bottom: 1px solid #dae1f8;
}

tbody tr:last-child td {
  border-bottom: 0;
}

td.numerical {
  font-family: monospace;
  font-size: 1rem;
}
