/* ### CUSTOM PROPERTIES ### */

:root {
  --ff-roboto: "Roboto", sans-serif;
  --ff-roboto-mono: "Roboto Mono", monospace;
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  width: 50%;
  min-width: 800px;
}

td,
th {
  text-align: start;
  padding: 0.8rem 1rem;
}

button[type="button"] {
  font-size: inherit;
  padding: 0.4rem 0.8rem;
}

/* ### UTILITY CLASS ### */

.numerical {
  text-align: end;
}

/* ### GENERAL STYLING ### */

body {
  font-family: var(--ff-roboto);
  font-size: 1.125rem;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

h1 {
  margin-bottom: 1.5rem;
}

/* ### LIBRARY TABLE ### */

table {
  background-color: #f5f7fd;
  margin-inline: auto;
  border-radius: 0.8rem;
  border: 1px solid #dae1f8;
}

th {
  border-bottom: 2px solid #dae1f8;
  font-size: 1.235rem;
  font-weight: 500;
}

th button[type="button"] {
  font-size: 1.125rem;
}

td {
  border-bottom: 1px solid #dae1f8;
}

caption {
  margin-bottom: 1rem;
}

tbody tr:last-child td {
  border-bottom: 0;
}

td.numerical {
  font-family: var(--ff-roboto-mono);
  font-size: 1rem;
}
